.howItWorks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    padding: 0rem 10rem;
    margin-bottom: 10rem;
    margin-top: -3rem;
}

.howItWorks > div {
    box-shadow: 0px 0px 4px 3px rgba(214, 211, 211, 0.25);
    padding: 2.5rem;
}

.howItWorks > div > h1 {
    font-size: var(--font-h2);
    color: var(--primary-black);
    margin-bottom: var(--spacing-medium);
    text-align: center;
    /* text-decoration: underline; */
}

.howItWorks > div > p {
    font-size: var(--font-body);
    color: var(--light-grey);
    line-height: 3rem;
}


@media (min-width: 300px) and (max-width: 539px) {
    .howItWorks {
        grid-template-columns: 1fr;
        padding: 0rem 2rem;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .howItWorks {
        grid-template-columns: 1fr;
        padding: 0rem 5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .howItWorks {
        grid-template-columns:  1fr 1fr;
        padding: 0rem 5rem;
    }
}

@media (min-width: 992px) and (max-width: 1280px) {
    .howItWorks {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0rem 5rem;
    }
}