.howItWorks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    padding: 0rem 10rem;
    margin-bottom: 10rem;
    margin-top: 10rem;
    width: 100%;
}

.howItWorks > div {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
    border-radius: 0.8rem;
}

.howItWorks > div > h4 {
    color: var(--primary-color);
    margin-bottom: var(--spacing-medium);
    text-align: center;
    /* text-decoration: underline; */
    margin-bottom: 1rem;
}

.howItWorks > div > p {
    font-size: 1.6rem;
    color: var(--tertiary-color);
    line-height: 3rem;
}


@media (min-width: 300px) and (max-width: 539px) {
    .howItWorks {
        grid-template-columns: 1fr;
        padding: 0rem 2rem;
        margin: 4rem 0rem;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .howItWorks {
        grid-template-columns: 1fr;
        padding: 0rem 5rem;
        margin: 5rem 0rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .howItWorks {
        grid-template-columns:  1fr 1fr;
        padding: 0rem 5rem;
        margin: 6rem 0rem;
    }
}

@media (min-width: 992px) and (max-width: 1280px) {
    .howItWorks {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0rem 5rem;
        margin: 7rem 0rem;
    }
}