.container {
  padding: 0rem 10rem;
  width: 100%;
  margin-bottom: 10rem;
}

.meet {
    font-size: var(--header-2);
    text-align: center;
}

.text {
    font-size: var(--font-body);
    color: var(--light-grey);
    text-align: center;
    margin-bottom: 3rem;
}

.courier {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 40rem;
    gap: 3rem;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    gap: 3rem;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.name {
    margin-left: 2rem;
    font-size: var(--font-h2);
}

.info {
    font-size: var(--font-body);
    color: var(--light-grey);
    line-height: 3rem;
}

.container2 {
    width: 100%;
    height: 30rem;
    /* border-radius: 20rem; */
}

.container2 > img {
    height: auto;
    width: 100%;
    /* border-radius: 20rem; */
}


@media (min-width:300px) and (max-width:539px) {
    .container {
        padding: 0rem 2rem;
    }

    .meet {
        font-size: var(--font-h1-mobile);
        margin-bottom: 2rem;
    }

    .courier {
        grid-template-columns: 1fr;
        height: auto;
    }

    .container1 {
        grid-template-columns: 1fr;
    }

    .container2 {
        height: auto;
    }

    .container2 > img {
        height: 40rem;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .container {
        padding: 0rem 5rem;
    }

    .meet {
        font-size: var(--font-h1-tablet);
        margin-bottom: 1rem;
    }

    .courier {
        grid-template-columns: 1fr;
        height: auto;
    }

    .container1 {
        grid-template-columns: 1fr;
    }

     .container2 {
        height: auto;
    }

    .container2 > img {
        height: 45rem;
    }
}

@media (min-width:768px) and (max-width: 911px) {
    .container {
        padding: 0rem 5rem;
    }

    .meet {
        font-size: var(--font-h1-bigtablet);
        margin-bottom: 1rem;
    }

    .courier {
        grid-template-columns: 1fr;
    }

    .container1 {
        grid-template-columns: 1fr;
    }

     .container2 {
        height: auto;
    }

    .container2 > img {
        height: 45rem;
    }
}

@media (min-width: 912px) and (max-width:1024px) {
    .container {
        padding: 0rem 5rem;
    }

    .meet {
        font-size: var(--font-h1-tablet);
        margin-bottom: 1rem;
    }

    .courier {
        grid-template-columns: 1fr;
    }

     .container2 {
        height: auto;
    }

    .container2 > img {
        height: 60rem;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .container {
        padding: 0rem 5rem;
    }

    .meet {
        font-size: var(--font-h1-bigtablet);
    }

    .courier {
        grid-template-columns: 1fr;
    }

     .container2 {
        height: auto;
    }

    .container2 > img {
        height: 65rem;
    }
}


